html{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body{
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

header{
    position:sticky;
    top:0;
    z-index: 10;
    display:grid;
    grid-auto-flow: column;
    color:white;
    background-color:#000;
    height: 50px;
    padding:5px 30px;
    align-items:center;
    justify-content:space-between;
}

nav{
    display:grid;
    grid-auto-flow: column;
    column-gap: 40px;
}

#topic_container::before{
    background: inherit;
    filter:blur(2px) brightness(50%);
}

footer{
    background-color: #507b00;
    color: #a7d930;
    height: 200px;
    padding: 5px 30px;
}

#hero_container {
    position: relative;
    height: calc(100vh - 60px); /* Subtract header height so that image is not larger than actual vh */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#hero_container::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
    background : black;
    overflow: hidden;
    background-image: url("https://images.pexels.com/photos/414807/pexels-photo-414807.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); /* Explicitly set background image */
    background-size: cover;
    background-position: center;
    filter: brightness(50%); /* blur(2px) */
    z-index: -1; /* Make sure the overlay stays behind the content */
}

#hero_content { /* Removed */
    position: absolute; /* Ensure it's absolutely positioned within the container */
    top: calc(50% - 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    display: block; /* No need for flex here */
}

#hero_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero_text {
    font-size: 100px;
    line-height: 0;
    color: white;
}

#hero_subtext {
    color: white;
    font-size: 40px;
    font-style: italic;
    line-height: 0;
}

#topic_container{
    display:grid;
    background-color:#507b00;
    color:#fff;
    text-align: center;
    padding:20px 10px;
}

#topic_container:nth-child(3){
    background:#a7d930;
}

#topic_heading{
    display:flex;
    justify-content: center;
    gap:35vw;
    align-items: center;
}

#topic_container p{
    padding:0 10%;
}

#topic_images{
    display:flex;
    justify-content: center;
}

#topic_images img{
    height:25vw;
    box-shadow: 0px 10px 20px 0px #28430a
}

@media screen and (max-width: 600px) {
    #topic_images {
      flex-flow: column;
      padding:0px 20px;
    }

    #topic_images img{
        object-fit: cover;
    }

    #topic_heading{
        display:flex;
        gap:0px;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        padding-bottom: 30px;
    }

}


footer{
    display:flex;
    gap:10%;
    background: ;
    justify-content: space-between;
    align-items: center;
}

#footer_brand{
    display:flex;
    flex-flow:column;
    gap:20px;
}

#footer_links{
    display: flex;
    gap:20px;
    flex-flow: column;
}

#footer_social img{
    width:35px;
    padding:0px 15px;
}

.seperator{
    width:100%;
}

.seperator:nth-child(2){
    width:50%;
    height:20px;
}